<template>
  <div class="sm:flex">
    <div class="md:flex sm:flex-shrink-0 p-5">
      <img
        src="../assets/img/01/Image-01.jpg"
        class="pl-5 pb-5 rounded transition transition-opacity ease-in-out delay-300 hover:-translate-y-1 hover:scale-110 duration-500 overflow-hidden bg-fixed opacity-70 duration-500 ease-in-out hover:opacity-100"
        @click="openModal('../assets/img/01/Image-01.jpg')"
      />
      <div class="flex flex-col pl-5">
        <img
          src="../assets/img/01/Image-02.jpg"
          class="rounded transition transition-opacity ease-in-out delay-300 hover:-translate-y-1 hover:scale-110 duration-500 overflow-hidden bg-fixed opacity-70 duration-500 ease-in-out hover:opacity-100"
          @click="openModal('../assets/img/01/Image-02.jpg')"
        />
        <img
          src="../assets/img/01/Image-03.jpg"
          class="pt-5 pb-5 rounded transition transition-opacity ease-in-out delay-300 hover:-translate-y-1 hover:scale-110 duration-500 overflow-hidden bg-fixed opacity-70 duration-500 ease-in-out hover:opacity-100"
          @click="openModal('../assets/img/01/Image-03.jpg')"
        />
      </div>
      <div
        class="article flex-col-3 pl-5 justify-content max-w-[360px] leading-8"
      >
        <h1 class="title text-[22px]">ANSWER YOUR BODY'S NEEDS</h1>
        <hr class="w-auto h-[0.5px] bg-white border-0 md:my-2" />
        <p class="justify-evenly text-balance pt-5 text-[16px] text-gray-300">
          The way ingredients are sourced affects the way we nourish our bodies.
          Author Mark Schatzer believes our body naturally develops an appetite
          for foods and nutrients in needs to be healthy, but that artificial
          flavourings are getting in the way. This can be reversed by focusing
          on high-quality ingredients and being mindful as your appetite guides
          you to consume according to your body's needs.
        </p>
        <h3 class="pt-5 text-red-600 font-extrabold">BE MINDFUL</h3>
        <p class="justify-evenly text-pretty font-extrabold pt-2">
          Sourcing local or organic food is a good way to start being more
          mindful about what you're cooking and eating.
        </p>
      </div>
    </div>
  </div>
  <ImageModal
    :modalStatus="modalStatus"
    @openModal="openModal"
    @closeModal="closeModal"
  >
    <template #content>
      <img :src="getImageUrl(selectedImg)" class="w-full" />
    </template>
  </ImageModal>
</template>

<script setup>
import { ref } from "vue";
import ImageModal from "./common/Modal.vue";
const modalStatus = ref(false);
const selectedImg = ref(null);
const getImageUrl = (imgUrl) => {
  let url = imgUrl;
  if (!imgUrl) {
    url = `../assets/img/empty-img-placeholder.jpg`;
  }
  return new URL(`${url}`, import.meta.url).href;
};
const openModal = (thumbnail) => {
  modalStatus.value = true;
  selectedImg.value = thumbnail;
  console.log(`You clicked the image '${thumbnail}'!`)
};
const closeModal = () => {
  modalStatus.value = false;
};
</script>

<style lang="scss" scoped></style>
