<template>
  <div class="container pr-3 py-5">
    <BodyNeeds />
    <LatestMenu :menuData="menuData" />
  </div>
</template>

<script setup>
import BodyNeeds from "./BodyNeeds.vue";
import LatestMenu from "./LatestMenu.vue";

const menuData = [
  {
    thumbnail: "../assets/img/02/Image-01.jpg",
    title: `Summer Lunch Menu By Mark Best`,
    description: `AEG ambassador Mark Best's summer eats are guaranteed to help you make the most of the warmer weather and entertaining at home.`,
    url: "#readmore1",
  },
  {
    thumbnail: "../assets/img/02/Image-02.jpg",
    title: `A Traditional Christmas Eve, Mark Best Style`,
    description: `One of Australia's best chefs and AEG ambassador, Mark Best, shares his favourite Christmas Eve menu which is sure to impress your guests.`,
    url: "#readmore2",
  },
  {
    thumbnail: "../assets/img/02/Image-03.jpg",
    title: `Taking Taste Further`,
    description: `This exclusive cookbook gives you all the know-how you need. We've designed it to make sure you get the most out of our products - and the best out of your food.`,
    url: "#readmore3",
  },
];
</script>

<style scoped></style>
