<template>
  <div class="sm:flex md:w-[1400px] latest p-5">
    <h1 class="mx-auto mt-[200px] text-[40px] md:px-auto pl-5">
      ALL THE LATEST FROM AEG
    </h1>
  </div>
  <div class="sm:flex p-5">
    <div class="md:flex sm:flex-shrink-0 px-auto">
      <Article
        v-for="menu in props.menuData"
        class="flex-col max-w-[420px] p-5"
      >
        <template #thumbnail>
          <img
            :src="getImageUrl(menu.thumbnail)"
            class="md:w-[380px] md:h-[287px] rounded overflow-hidden bg-fixed opacity-70 duration-500 hover:border-b-4 hover:border-red-600 hover:opacity-100 delay-300"
            @click="openModal(menu.thumbnail)"
          />
        </template>
        <template #title>
          <p class="pt-5 text-wrap text-[18px] font-extrabold">
            {{ menu.title }}
          </p>
        </template>
        <template #description>
          <p class="py-3 text-wrap text-pretty text-gray-300 tracking-wide">
            {{ menu.description }}
          </p>
        </template>
        <template #moreLink>
          <a
            :href="menu.url"
            class="text-white border-b-2 border-red-600 font-extrabold"
            >READ MORE</a
          >
        </template>
      </Article>
    </div>
  </div>
  <ImageModal
    :modalStatus="modalStatus"
    @openModal="openModal"
    @closeModal="closeModal"
  >
    <template #content>
      <img :src="getImageUrl(selectedImg)" class="w-full" />
    </template>
  </ImageModal>
</template>

<script setup>
import { onMounted, ref } from "vue";
import Article from "./common/Article.vue";
import ImageModal from "./common/Modal.vue";
const modalStatus = ref(false);
const selectedImg = ref(null);
const props = defineProps({
  menuData: {
    type: Array,
    required: true,
  },
});
const getImageUrl = (imgUrl) => {
  let url = imgUrl;
  if (!imgUrl) {
    url = `../assets/img/empty-img-placeholder.jpg`;
  }
  return new URL(`${url}`, import.meta.url).href;
};
const openModal = (thumbnail) => {
  modalStatus.value = true;
  selectedImg.value = thumbnail;
};
const closeModal = () => {
  modalStatus.value = false;
};
onMounted(() => {
  console.log("menuData", props.menuData);
});
</script>

<style lang="scss" scoped></style>
