<template>
  <div class="flex-col">
    <slot name="thumbnail"></slot>
    <slot name="title"></slot>
    <slot name="description"></slot>
    <slot name="moreLink"></slot>
  </div>
</template>

<script setup></script>

<style lang="scss" scoped></style>
